@tailwind base;
@tailwind components;
@tailwind utilities;

/* utility Classes */

.custom-list {
  color: #121212;
  background-color: white;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}

.custom-list-N {
  color: #121212;
  border: 1px #e54b4b solid;
  padding-inline: 1rem;
  padding-block: 0.25rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}

.eyeIcon {
  position: absolute;
  color: black;
  top: 65%;
  right: 5%;
  font-size: 1.2rem;
  cursor: pointer;
}
