@tailwind base;
@tailwind components;
@tailwind utilities;

/* utility Classes */

.custom-list{
  color: #1E1E24;
  background-color: #E54B4B;
  padding-inline: 1rem;
  padding-block: .25rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}

.custom-list-N{
    color: #F7EBE8;
border: 1px #E54B4B solid;
  padding-inline: 1rem;
  padding-block: .25rem;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
}

.eyeIcon{
  position: absolute;
  color: black;
  top: 65%;
  right: 5%;
  font-size: 1.2rem;
  cursor: pointer;
}